{% extends 'base - no header.html' %}
{% load static %}


{% block content %}

<div class="Cart">
    <h2 style="text-transform: capitalize;">{{ user.username }}  Shopping Cart has 
        {% if cart.get_total %}
        {{ cart.count }} Item(s)
        {% else %}
         No Item
        {% endif %} </h2>
    <div class="front-row">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in cart.items.all %}
                <tr>    
                    <td>
                        <h4>{{ cart_item.item.name }}</h4>
                    </td>
                    <td>
                        <a href="{{ cart_item.item.get_absolute_url }}">
                            <img src="{% if cart_item.item.image %}{{ cart_item.item.image.url }}{% else %}{% static 'img/empty_img.png' %}{% endif %}">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'cart:add_to_cart' cart_item.item.slug %}">
                            <i class="fas fa-sort-up"></i>
                        </a>
                        <h4>{{ cart_item.quantity }}</h4>
                        <a href="{% url 'cart:reduce_from_cart' cart_item.item.slug %}">
                            <i class="fas fa-sort-down"></i>
                        </a>
                    </td>
                    <td>
                        <strong>${{ cart_item.item.price }}</strong>
                        <br>
                        <a href="{% url 'cart:remove_from_cart' cart_item.item.slug %}"><i class="far fa-trash-alt">Remove</i></a>
                    </td>
                    <td>
                        <strong>${{ cart_item.get_total_price }}</strong>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="front-row">
        {% if object.get_total %}
        <div class="total"><h2>TOTAL</h2></div>
        <div class="total"><h2>${{ object.get_total }}</h2></div>
        <div class="total">
            <a href="" class="button">Checkout</a>
        </div>
        {% endif %}
    </div>
    <center><a href="{% url 'shop:item_list' %}">Continue Shopping</a></center>
</div>
    
{% endblock content %}
    
