*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Eczar', serif;
    background-color: #fdfbfb;
}


/* navbar */
.header{
    background: radial-gradient(#fff, #adc8ee);
}
.nav-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.nav{
    flex: 1;
    text-align: right;
}
.nav ul{
    display: inline-block;
    list-style-type: none;
}
.nav ul li{
    display: inline-block;
    margin-right: 40px;
    font-weight: 700;
}
.fas.fa-shopping-cart{
    cursor: pointer;
}
.active{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.active::after{
    content: '';
    background: rgb(71, 213, 238);
    width: 98%;
    height: 5px;
    border-radius: 6px;
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

a{
    text-decoration: none;
    color: rgb(14, 117, 117);
    text-transform: uppercase;
}
p{
    text-decoration: none;
    color: rgb(0, 5, 5);

}




/* store front */
.front-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.front-col{
    flex-basis: 50%;
    min-width: 300;
}
.front-col img{
    max-width: 100%;
    padding: 50px 0;
}
.front-col h1{
    font-size: 50px;
    font-family: 'Faster One', cursive;
    line-height: 60px;
    margin-left: 150px;
}
.front-col p{
    margin-left: 150px;
}
.button{
    display: inline-block;
    background: #4b81c7;
    color: #fff;
    margin-left: 150px;
    padding: 8px 30px;
    border-radius: 40px;
    transition: 0.5s;
}
.button:hover{
    background: #343434;
}




/* categories */
.categories{
    margin: 20px;
}
.small-container{
    max-width: 1080;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 30px;
    transition: transform 0.6s;
}
.col-4:hover{
    transform: translateY(-35%);
}
.col-4 img{
    width: 70%;
}
.col-4 h4{
    text-align: center;
}





/* products */
.title{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: rgb(10, 204, 238);
    width: 100px;
    height: 5px;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-3{
    flex-basis: 25%;
    min-width: 300px;
    margin-left: 42px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-3:hover{
    transform: translateY(-8px);
}
.col-3 img{
    width: 90%;
}
.col-3 p{
    font-family: 'Faster One', cursive;
    font-size: 20px;
    color: rgb(245, 19, 19);
}
.rating .fas, .rating .far{
    color: #fbe519;
}





/* special offers */
.offer{
    background: radial-gradient(#fff, #adc8ee);
}
.col-2{
    flex-basis: 50%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 30px;
}
.col-2 .offer-img{
    width: 100%;
    padding: 50px;
}
.col-2 small{
    color: #555;
    font-size: 500px;
}
.col-2 a{
    margin-left: 0;
}





/* review section */
.review{
    padding-top: 80px;
}
.review .col-3{
    text-align: center;
    padding: 40px 30px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.6s;
}
.review .col-3:hover{
    transform: translateY(-15px);
}
.review .col-3 img{
    width: 100px;
    margin-top: 10px;
    border-radius: 50%;
}
.fas.fa-quote-right{
    font-size: initial;
    color: rosybrown;
}
.review .col-3 p{
    font-size: 15px;
    color: #000;
    font-family: 'Eczar', serif;
    margin: 12px 0;
}
.review .col-3 h3{
    font-size: 16px;
    font-weight: 600;
    color: #555;
}





/* brands */

.brands{
    margin: 100px auto;
}
.col-5{
    width: 150px;
}
.col-5 img{
    width: 70%;
    cursor: pointer;
    filter: grayscale(70%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    padding: 60px 0 24px;
}
.footer p{
    color: #4b81c7;
    text-align: center;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}
.row-1, .row-2, .row-3, .row-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.row-2 img{
    width: 120px;
    background: #fff;
    margin-bottom: 20px;
    margin-left: 33%;
}
.row-3, .row-4{
    flex-basis: 12%;
    text-align: center;

}
ul{
    list-style-type: none;
    cursor: pointer;
}
.footer .copyright{
    text-align: center;
    color: #fff;
    margin-bottom: 1px;
}





/* all products styling */

.row-rate{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #4b81c7;
    padding: 5px;
    max-height: 30px;
}
select:focus{
    outline: none;
}
.next-page{
    margin: 20px auto 0px;
    margin-left: 100px;
    max-height: 20px;
}
.far.fa-arrow-alt-circle-right{
    padding-left: 20px;
}
.next-page span{
    display: inline-block;
    border: 1px solid #4b81c7;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.next-page span:hover{
    background: #4b81c7;
    color: azure;
}





/* product details styling */
.details{
    margin-top: 70px;
    margin-bottom: 20px;
}
.details .col-2{
    padding: 20px;
}
.details .col-2 img{
    padding: 0;
}
.details .col-2 h4{
    font-family: 'Faster One', cursive;
    font-size: 35px;
    color: rgb(245, 19, 19);   
}
.details .col-2 select{
    display: block;
    padding: 5px;
    margin-top: 18px;

}
.details .col-2 input{
    height: 40px;
    font-size: 25px;
    border: 1px solid #4b81c7;
}
input[type=submit]{
    background: #4b81c7;
    color: #fff;
    margin: 8px 8px;
    margin-left: 0;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s;
}
input:hover{
    background: #beedf5;
}

.imgs-row{
    display: flex;
    justify-content: space-between;
}
.imgs-col{
    flex-basis: 24%;
    cursor: pointer;
}
.smallImg:hover{
    transform: translateY(-30%);
}






/* cart details styling */
.Cart{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Cart table, th, td{
    flex-basis: 95%;
    border: 1px solid #4b81c7;
}
.Cart h2{
    text-align: center;
    margin-bottom: 15px;
}
table{
    border-spacing: 4px;
    border-collapse: collapse;
    border-spacing: 0;
}
tr:nth-of-type(even){
    background:#eee;
}
th, td{
    padding: 5px;
}
td{
    text-align: center;
}
td img{
    width: 100px;
    cursor: pointer;
    filter: grayscale(0);
}
td img:hover{
    filter: grayscale(90%);
}
.far.fa-trash-alt{
    cursor: pointer;
    text-transform: lowercase;
}
.fas.fa-sort-up, .fas.fa-sort-down{
    cursor: pointer;
    width: 6px;
    color: #fd3511;
}
.total{
    flex-basis: 25%;
    margin-left: 42px;
    margin-top: 25px;
    margin-bottom: 3px;
    transition: transform 0.5s;
}
.total:hover{
    transform: translateY(8px);
}


/* Account section */
.account{
    margin: auto;
    border: 15px solid rgb(195, 246, 246);
    background-color: rgb(179, 245, 245);
    padding: 10px;
    height: 50%;
    width: 60%;
    border-radius: 700px;
}
.account h1, .account p{
    text-align: center;
    margin-left: 0;
}
form {
    margin: 0 auto;
    padding-top: 20px;
    padding: 20px;
    width: 250px;
}
input{
    font-size: 20px;
    margin: 8px 8px;
    margin-left: 0;
    cursor: pointer;
}
label{
    font-size: 20px;
}
button{
    justify-content: center;
    display: flex;
    margin: auto;
    width: 50%;
}






/* media query for small screens */
.fas.fa-bars{
    width: 50px;
    margin-left: 20px;
    display: none;
}



@media only screen and (max-width:800px){
    .nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #000;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .nav ul li{
        display: block;
        color: #fbe519;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav ul li a{
        color: aliceblue;
    }
    .active{
        color: #4b81c7;
    }
    .fas.fa-bars{
        display: block;
        cursor: pointer;
    }
}



/* media query for small screens < 700px */
@media only screen and (max-width:700px){
    /* front row section */
    .front-row{
        text-align: center;
    }
    .front-col img{
        max-width: 92%;
        padding: 50px 0;
    }
    .details .front-row .col-2 select{
        margin-left: 30%;
    }
    .details .front-row .col-2 h1,.details .front-row .col-2 h4{
        font-size: 35px;
    }
    .front-col h1{
        text-align: center;
        font-size: 30px;
        margin-left: 0;
    }
    .button{
        display: inline-block;
        margin-left: 35px;
        padding: 0 15px;
    }
    .front-col p{
        text-align: center;
        margin-left: 0;
    }

    /* making table responsive */

    /* 1. force table to change style */
    table, thead, tbody, th, td, tr{
        display: block;
    }

    /* 2. Hide table headers but not display none for accessibility */
    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    /* make table behave like row */
    td{
        border: none;
        border-bottom: 1px solid#eee;
        position: relative;
        padding-left: 50%;
    }

    td:before{
        /* Not like a table header */
        position: absolute;
        /* top and left values mimic padding */
        top: 6px;
        left: 6px;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* table labels */
    td:nth-of-type(1):before{content:"Product";}
    td:nth-of-type(2):before{content:"Image";}
    td:nth-of-type(3):before{content:"Quantity";}
    td:nth-of-type(4):before{content:"Unit Price";}
    td:nth-of-type(5):before{content:"Total";}
}


@media only screen and (max-width:600px){
    /* front row section */
    .button{
        display: inline-block;
        margin-left: 25px;
        margin-bottom: 50px;
        padding: 0 15px;
    }
        /* Account section */
        .account{
            margin: auto;
            border: 15px solid rgb(195, 246, 246);
            background-color: rgb(179, 245, 245);
            padding: 10px;
            height: 100%;
            width: 100%;
            border-radius: 700px;
        }
        .account h1, .account p{
            text-align: center;
            margin-left: 0;
        }
        form {
            margin: 0 auto;
            padding-top: 20px;
            padding: 20px;
            width: 250px;
        }
        input{
            font-size: 15px;
            margin: 8px 8px;
            margin-left: 0;
            cursor: pointer;
        }
}


@media only screen and (max-width:500px){
    /* front row section */
    .cart{
        margin-left: 10%;
    }
    .fas.fa-bars{
        margin-left: 95%;
    }
    .front-col{
        flex-basis: 100%;
    }
    .col-4 h4{
        text-align: center;
        margin: 0;
    }
    .col-4 img{
        width: 50%;
    }
    .col-2{
        flex-basis: 100%;
        padding: 30px;
    }
    .offer .col-2 img{
        width: 100%;
        padding: 10%;
    }
    .row-2 img{
        margin-left: 0;
    }
}