{% extends "base.html" %}
{% load static %}


{% block content %}

      <center><h1> {{ order.first_name }} Payment Process</h1></center>
      <div class="front-row">
        <button id="checkout-button">PAY NOW</button>
      </div>
      

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe("pk_test_51HlCuYKVqModin9kpjDtnrwOKeJ66ZOBEdoDuYcWYaYgfWAbA9He9cG19fCfgUq8tzFBdZr96EO6Cd4hLjmC6Tb2001f9Hlgwt");
      var checkoutButton = document.getElementById("checkout-button");
      checkoutButton.addEventListener("click", function () {
        fetch("/payment/process/", {
          method: "POST",
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
          })
          .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
              alert(result.error.message);
            }
          })
          .catch(function (error) {
            console.error("Error:", error);
          });
      });
    </script>
{% endblock %}