{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Omen - E-shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;800&family=Faster+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>

    {% include 'shop/item/messages.html' %}


        <div class="nav-container">
            <div class="navbar">
                <div class="brand">
                    <img src="{% static 'img/logo.png' %}" width="150px">
                </div>
                <div class="nav">
                    <ul id="menu-items">
                        <li><a href="{% url 'shop:item_list' %}">Home</a></li>
                        <li><a href="{% url 'shop:all_items' %}">Products</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
                <a href="cart_detail.html">
                    <i class="fas fa-shopping-cart">1</i>
                </a>
            </div>
            <i class="fas fa-bars" onclick="togglemenu()"></i>
            </div>
            {% block storefront %}

            {% endblock storefront %}
        </div>



  {% block categories %}
 
  {% endblock categories %}



  {% block content %}
              
  {% endblock content %}

     <!-- brands -->
    <div class="brands">
        <div class="small-container">
            <div class="front-row">
                <div class="col-5">
                    <img src="{% static 'img/windows.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'img/apple.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'img/devices.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'img/monitor.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'img/iphone.png' %}">
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="front-row">
                <div class="row-1">
                    <h3>TATIOR</h3>
                    <p>High-Tech for All</p>
                </div>
                <div class="row-2">
                    <img src="{% static 'img/logo.png' %}">
                    <h3>Shop Now</h3>
                </div>
                <div class="row-3">
                    <strong>LINKS</strong>
                    <ul>
                        <li>Home</li>
                        <li>Products</li>
                        <li>Contact</li>
                        <li>About</li>
                    </ul>
                </div>
                <div class="row-4">
                    <strong>Follow Us</strong>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                        <li>Twitter</li>
                    </ul>
                </div>
            </div>
            <p class="copyright">Copyright - E-shop by itzomen</p>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>