{% extends "shop/base.html" %}
{% load static %}

    
{% block title %}
    
    {% if category %}{{ category.name }}{% else %} Items {% endif %}
        
{% endblock title %}


{% block content %}
    


    
    <div id="grid">
        <h1>
            {% if category %}{{ category.name }}{% else %}Items{% endif %}
        </h1>
        {% for item in items %}
        <div class="product">
            <div class="info-large">
                <h4><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
                <div class="sku">
                    PRODUCT SKU: <strong>89356</strong>
                </div>
                 
                <div class="price-big">
                    <span>43€</span> {{ item.price }}€
                </div>
                 
                
                <button class="add-cart-large">Add To Cart</button>                          
                             
            </div>
            <div class="make3D">
                <div class="product-front">
                    <div class="shadow"></div>
                    
                    <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/empty_img.png' %}{% endif %}">
                    
                    <div class="image_overlay"></div>
                    <div class="add_to_cart">Add to cart</div>
                    <div class="view_gallery">
                        <a href="{{ item.get_absolute_url }}">View gallery</a>
                    </div>                
                    <div class="stats">        	
                        <div class="stats-container">
                            <span class="product_price">{{ item.price }}€</span>
                            <span class="product_name"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></span>    
                            <p>Summer dress</p>                                            
                            
                        </div>                       
                                                
                    </div>
                </div>
                
                <div class="product-back">
                    <div class="shadow"></div>
                    <div class="carousel">
                        <ul class="carousel-container">
                            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1.jpg" alt="" /></li>
                            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2.jpg" alt="" /></li>
                            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/3.jpg" alt="" /></li>
                        </ul>
                        <div class="arrows-perspective">
                            <div class="carouselPrev">
                                <div class="y"></div>
                                <div class="x"></div>
                            </div>
                            <div class="carouselNext">
                                <div class="y"></div>
                                <div class="x"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flip-back">
                        <div class="cy"></div>
                        <div class="cx"></div>
                    </div>
                </div>	  
            </div>	
        </div>
        {% endfor %}
    </div>
_
{% endblock content %} 
    
    