{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<div class="small-container details">
        <div class="front-row">
            <div class="col-2">
                <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/empty_img.png' %}{% endif %}">
                <div class="imgs-row">
                    <div class="imgs-col">
                        <img src="images/laptop-33.png" width="100%" class="smallImg">
                    </div>
                    <div class="imgs-col">
                        <img src="images/laptop.png" width="100%" class="smallImg">
                    </div>
                    <div class="imgs-col">
                        <img src="images/mac-white.png" width="100%" class="smallImg">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>
                    <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                </p>
                <h1>{{ item.name }}</h1>
                <h4>${{ item.price }}</h4><strike>$2555</strike>
                <h3>Characteristics</h3>
                <p>${{ item.description|linebreaks }}</p>
                <select>
                    <option>Choose Ram</option>
                    <option>4Gb</option>
                    <option>8Gb</option>
                    <option>16Gb</option>
                    <option>32Gb</option>
                </select>
                <input type="number" value="1">
                <a href="" class="button"> Add to Cart </a>
            </div>
        </div>
    </div>

    <div class="product-detail">
       <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/empty_img.png' %}{% endif %}">
       <h1>{{ item.name }}</h1>
       <h2>
           <a href="{{ item.category.get_absolute_url }}">
            {{ item.category }}
           </a>
       </h2>
       <p class="price">${{ item.price }}</p>
       ${{ item.description|linebreaks }}
    </div>

{% endblock content %}
    
    