{% extends "base.html" %}
{% load static %}



{% block categories %}
<div class="categories">
    <div class="front-row">
        <h4 {% if not category %} class="selected"{% endif %}>
            <a href="{% url 'shop:item_list' %}">Home</a>
        </h4>
        <select>
            <option>All Products</option>
            {% for item in object_list %}
            <option>{{ item.category.name  }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock categories %}



{% block content %}

<div class="small-container">
        <div class="front-row">
            {% for item in object_list %}
            <div class="col-3">
                <a href="{{ item.get_absolute_url }}">
                <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/empty_img.png' %}{% endif %}">
                </a>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h4><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
                <p>${{ item.price }}</p><strike>$2555</strike>
            </div>
            {% endfor %}
        </div>
</div>

{% include 'shop/item/pagination.html' %}

{% endblock content %}