{% extends "shop/base - no header.html" %}
{% load static %}



{% block categories %}
<div class="categories">
        <h4 {% if not category %}class="selected"{% endif %}>
            <a href="{% url 'shop:item_list' %}">All</a>
        </h4>
        {% for c in categories %}
        <h4 {% if category.slug == c.slug %}class="selected" {% endif %}>
            <a href="{% url 'shop:item_list' %}">{{ c.name }}</a>
        </h4>
        {% endfor %}

</div>
{% endblock categories %}



{% block content %}

<div class="small-container">
        <h2 class="title">{% if category %}{{ category.name }}{% else %} Items {% endif %}</h2>
        <select>
                <option>Default Sorting</option>
                <option>Sort by Rating</option>
                <option>Sort by Price</option>
                <option>Sort by Popularity</option>
        </select>
        <div class="front-row">
            {% for item in items %}
            <div class="col-3">
                <a href="{{ item.get_absolute_url }}">
                <img src="images/macbook-pro.png">
                </a>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h4><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
                <p>${{ item.price }}</p><strike>$2555</strike>
            </div>
            {% endfor %}
            <div class="next-page">
               <i class="far fa-arrow-alt-circle-left"></i>
               <span>1</span>
               <span>2</span>
               <span>3</span>
               <i class="far fa-arrow-alt-circle-right"></i>
            </div>
        </div>
</div>

{% endblock content %}