{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="small-container">
        <div class="front-row">
            <div class="col-2">
                <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/empty_img.png' %}{% endif %}" width="100%" id="mainImg">
                <div class="imgs-row">
                    <div class="imgs-col">
                        <img src="{% static 'img/owl.png' %}" width="100%" class="smallImg">
                    </div>
                    <div class="imgs-col">
                        <img src="{% static 'img/mac-white.png' %}" width="100%" class="smallImg">
                    </div>
                    <div class="imgs-col">
                        <img src="{% static 'img/monitor.png' %}" width="100%" class="smallImg">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>
                    <a href="{{ item.category.get_absolute_url }}">Category: {{ item.category }}</a>
                </p>
                <h1>{{ item.name }}</h1>
                <h4>${{ item.price }}</h4><strike>$2555</strike>
                <h3>Characteristics</h3>
                <p>${{ item.description|linebreaks }}</p>
                <a href="{{ item.get_add_to_cart_url }}" class="button">
                    Add to cart
                    <i class="fas fa-shopping-cart ml-1"></i>
                </a>
                <a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                    Remove from cart
                  </a>
            </div>
        </div>
    </div>


{% endblock content %}
    
    