<!-- pagination -->
<div class="front-row">
    <center>
        {% if is_paginated %}
        <div class="next-page">

            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><i class="far fa-arrow-alt-circle-left"></i></a>
            <a href="?page={{ page_obj.previous_page_number }}"><span>{{ page_obj.previous_page_number }}</span></a>
            {% endif %}
            
            <a style="color: crimson; font-weight: 800;" href="?page={{ page_obj.number }}"><span>{{ page_obj.number }}</span></a>
            
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><span>{{ page_obj.next_page_number }}</span></a>
            <a href="?page={{ page_obj.next_page_number }}"><i class="far fa-arrow-alt-circle-right"></i></a>
            {% endif %}

        </div>
        {% endif %}
    </center>
</div>
