/* nav */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}



.nav-container {
  max-width: 60em;
  min-width: 45em;
  margin: 0 auto;
  padding: 0 2em;
}

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 3;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
}
nav li {
  display: inline-block;
  padding: 2em;
  text-align: center;
  transition: all .2s;
}
nav li:last-child {
  padding-right: 0;
}
nav a {
  color: #FFF;
  text-decoration: none;
  transition: all .3s;
}
nav a:hover {
  color: #DDD;
}

#icon {
  display: inline-block;
  padding-top: .7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

#nav-bg {
  background: #222;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
}

header {
  position: relative;
  background-color: #0b4769;
  padding: 10em 0 8em;
  z-index: 2;
}
header h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}

#about {
  background: #E7E3DA;
  height: 70em;
  padding: 5em 0;
}
#about p {
  line-height: 2em;
  font-size: 1.4em;
  margin: 0;
  color: #222;
}

/* nav */