{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">E shop</a>
    </div>
    <div id="subheader">
      <div class="cart">
        No items in cart.
      </div>
    </div>
    <div id="content">
      {% block content %}
              
      {% endblock content %}
    </div>
    
 
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>

</html>