{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
  </head>

  <nav>
    <div class='nav-container'>
      <div class='fontawesome-cog' id='icon'>
        <a href="/" class="logo">E shop</a>
      </div>
      <ul>
        <li>
          <a href='#'>Item 1</a>
        </li>
        <li>
          <a href='#'>Item 2</a>
        </li>
        <li>
          <a href='#'>Item 3</a>
        </li>
        <li>
          <a href='#'>Item 4</a>
        </li>
        <li>
          <a href='#'>Item 5</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id='nav-bg'></div>
  
{% block header %}
 
{% endblock header %}

{% block sidebar %}
 
{% endblock sidebar %}



  <body>
    
    <div id="content">
      {% block content %}
              
      {% endblock content %}
    </div>
    
 
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>

</html>